<dom-module id="who-am-i">
    <!--TODO: Test-->
    <style is="custom-style">
        .avatar {
            display: inline-block;
            width: var(--who-am-i-avatar-width, 150px);
            height: var(--who-am-i-avatar-height, 150px);
            border-radius: 50%;
            overflow: hidden;
            background: #ccc;
        }

        .details paper-item-body {
            text-align: center;
        }
    </style>
    <!--TODO: Test-->
    <template>
        <iron-ajax
                id="ajax"
                handle-as="json"
                on-response="handleResponse">
        </iron-ajax>
        <div align="center">
            <iron-image sizing="cover" id="avatar" class="avatar" hidden$="{{hideAvatar}}"></iron-image>
        </div>
        <div class="details">
            <paper-item three-line>
                <paper-item-body>
                    <h3 id="fullName" hidden$="{{hideFullName}}"></h3>
                    <div id="email" hidden$="{{hideEmail}}" secondary></div>
                    <paper-button id="logOut" hidden$="{{hideLogOut}}">
                        <a id="logOutLink">Log Out</a>
                    </paper-button>
                </paper-item-body>
            </paper-item>
        </div>
        <content></content>
    </template>
</dom-module>
<script>
    Polymer({
        is: "who-am-i",
        properties: {
            hideAvatar: {
                type: Boolean,
                value: false
            },
            hideFullName: {
                type: Boolean,
                value: false
            },
            hideEmail: {
                type: Boolean,
                value: false
            },
            hideLogOut: {
                type: Boolean,
                value: false
            },
            backendHost: {
                type: String,
                value: "http://localhost:8080"
            },
            avatarWidth: {
                type: Number,
                value: 75
            },
            authID: {
                type: String,
                value: ""
            }
        },
        ready: function() {
            this.authID = this.getLocationArgument("authID");
            if (this.authID === "") {
                this.authID = this.getCookie("authID");
            }
            var url = this.backendHost + '/auth/api/v1/user/' + this.authID;
            this.$.logOutLink.setAttribute("href", this.backendHost + "/auth/logout");
            this.$.ajax.url = url;
            this.$.ajax.generateRequest();
        },
        handleResponse: function(request) {
            var json = request.detail.response;
            this.$.fullName.textContent = json.name;
            this.$.email.textContent = json.email;
            this.$.avatar.setAttribute("src", json.avatar_url);
        },
        getCookie: function(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
            }
            return "";
        },
        getLocationArgument: function(name) {
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
            var results = regex.exec(location.search);
            var value = results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            return value;
        }
    });
</script>