<dom-module id="who-am-i">
    <!--TODO: Test-->
    <style is="custom-style">
        .avatar {
            display: inline-block;
            width: var(--who-am-i-avatar-width, 150px);
            height: var(--who-am-i-avatar-height, 150px);
            border-radius: 50%;
            overflow: hidden;
            background: #ccc;
        }

        .details paper-item-body {
            text-align: center;
        }
    </style>
    <!--TODO: Test-->
    <template>
        <!--TODO: Test that on-response has handlerResponse assigned-->
        <iron-ajax
                id="ajax"
                handle-as="json"
                on-response="handleResponse">
        </iron-ajax>
        <div align="center">
            <iron-image sizing="cover" id="avatar" class="avatar" hidden$="{{!displayAvatar}}"></iron-image>
        </div>
        <div class="details">
            <paper-item three-line>
                <paper-item-body>
                    <h3 id="fullName" hidden$="{{!displayFullName}}"></h3>
                    <div id="email" hidden$="{{!displayEmail}}" secondary></div>
                    <paper-button id="logOut" hidden$="{{!displayLogOut}}">
                        <a id="logOutLink">Log Out</a>
                    </paper-button>
                </paper-item-body>
            </paper-item>
        </div>
        <content></content>
    </template>
</dom-module>
<script>
    Polymer({
        is: "who-am-i",
        properties: {
            displayAvatar: {
                type: Boolean,
                value: true
            },
            displayFullName: {
                type: Boolean,
                value: true
            },
            displayEmail: {
                type: Boolean,
                value: true
            },
            displayLogOut: {
                type: Boolean,
                value: true
            },
            backendHost: {
                type: String,
                value: "http://localhost:8080"
            },
            avatarWidth: {
                type: Number,
                value: 75
            }
        },
        ready: function() {
            var regex = new RegExp("[\\?&]authID=([^&#]*)");
            var results = regex.exec(location.search);
            var authID = results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            var url = this.backendHost + '/auth/api/v1/user/' + authID;
            this.$.logOutLink.setAttribute("href", this.backendHost + "/auth/logout");
            this.$.ajax.url = url;
            this.$.ajax.generateRequest();
        },
        handleResponse: function(request) {
            var json = request.detail.response;
            this.$.fullName.textContent = json.name;
            this.$.email.textContent = json.email;
            this.$.avatar.setAttribute("src", json.avatar_url);
        }
    });
</script>