<link rel="import"
      href="polymer/polymer.html">

<dom-module id="who-am-i">
    <style></style>
    <template>
        <div>
            <img id="avatarURL" style="width: 75px; height: 75px;" />
        </div>
        <div>
            <span id="fullName"></span>
            <a href="/logout">Sign Out</a>
        </div>
        <content></content>
    </template>
</dom-module>
<script>
    Polymer({
        is: "who-am-i",
        properties: {
            backendHost: {
                type: String,
                value: "http://localhost"
            }
        },
        ready: function() {
            var dom = this;
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState === 4) {
                    var json = JSON.parse(xmlHttp.responseText);
                    dom.$.fullName.textContent = json.name;
                    // TODO: Hide if empty
                    dom.$.avatarURL.setAttribute("src", json.avatar_url);
                }
            };
            var regex = new RegExp("[\\?&]authID=([^&#]*)");
            var results = regex.exec(location.search);
            var authID = results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            xmlHttp.open("GET", dom.backendHost + "/auth/api/v1/user/" + authID, true);
            xmlHttp.send(null);
        }
    });
</script>