<html>
<head>
    <title>vfarcic/oauth</title>
    <script src="../../../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../../../bower_components/polymer/polymer.html">
    <link rel="import" href="../../../bower_components/paper-styles/classes/global.html">
    <link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="../../../bower_components/iron-image/iron-image.html">
    <link rel="import" href="../../../bower_components/paper-button/paper-button.html">
    <link rel="import" href="../../../bower_components/paper-item/paper-item.html">
    <link rel="import" href="../../../bower_components/paper-item/paper-item-body.html">
    <link rel="import" href="../who-am-i.html">
    <style is="custom-style">
        :root {
            --who-am-i-avatar-width: 100px;
            --who-am-i-avatar-height: 100px;
        }
    </style>
</head>
<body>
    <h2 align="center">Complete</h2>
    <who-am-i></who-am-i>
    <h2 align="center">With Elements Hidden</h2>
    <who-am-i hide-email hide-log-out></who-am-i>
</body>
</html>