<html>
<head>
    <title>vfarcic/oauth</title>
    <script src="../../../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="../../../bower_components/polymer/polymer.html">
    <link rel="import" href="../../../bower_components/paper-styles/classes/global.html">
    <link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="../../../bower_components/iron-image/iron-image.html">
    <link rel="import" href="../../../bower_components/paper-button/paper-button.html">
    <link rel="import" href="../../../bower_components/paper-item/paper-item.html">
    <link rel="import" href="../../../bower_components/paper-item/paper-item-body.html">
    <link rel="import" href="../oauth-who-am-i.html">
    <link rel="import" href="../oauth-providers.html">
    <style is="custom-style">
        :root {
            --who-am-i-avatar-width: 100px;
            --who-am-i-avatar-height: 100px;
        }
    </style>
</head>
<body>
    <div id="providersHolder" align="center">
        <h2 align="center">Providers</h2>
        <oauth-providers></oauth-providers>
    </div>
    <div id="whoAmIHolder">
        <h2 align="center">Who Am I: Complete</h2>
        <oauth-who-am-i id="whoAmI"></oauth-who-am-i>
        <h2 align="center">Who Am I: With Elements Hidden</h2>
        <oauth-who-am-i id="whoAmIShort" hide-email hide-log-out></oauth-who-am-i>
    </div>
    <script>
        if (document.querySelector('#whoAmI').authID == "") {
            document.querySelector('#whoAmIHolder').hidden = true;
        }
    </script>
</body>
</html>